.bulb-img{
    height: 180px;
    width: 110px;
}
.cat-img{
    height: 240px;
    width: 190px;
}
.dark-background{
    background-color: #0b0b0b;
    height: 550px;
    
}
.switch-content{
    background-color:#7e807f;
    width: 190px;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;

}
.button-off{
    background-color: red;
    border-radius: 5px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
}
.button-on{
    background-color: green;
    border-radius: 5px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
}